@mixin center-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-div {
  @include center-list;
  width: min(100% - 2rem);
}

.styled-table {
  padding: 26px;
  font-family: sans-serif;
  min-width: 300px;
  box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.15);
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.daily-updates-button {
  border-radius: 4px;
  background: #6e6d70;
  color: #dfdedf;
  padding: 4px 9px;
  border: none;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.action-icons {
  font-size: 1.4em;
}

.action-icons:hover {
  transform: scale(1.15, 1.15);
  animation: jiggle 0.5s infinite linear;
}

.info-icon {
  color: grey;
  position: absolute;
  top: 50px;
  right: 220px;
}

@mixin invest-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -4px; //oddly enough, this isn't equivalent to "margin-bottom: 4px"
}

.arrow-up {
  color: green;
  @include invest-arrow;
}

.arrow-down {
  color: red;
  @include invest-arrow;
}

.cryptolist-image img {
  height: 27px;
  width: 27px;
}

.daily-price-change {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 6px;
}
